# Python for everyone -- Coding promblems

This notebook contains example coding problems that you can use to prepare for the exam.

## Class 01 -- Basic syntax, printing, variables

#### üî¥ Debugging


Debug the following code snippets.

In [ ]:
print("Hello"

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
print("Hello")

```
    
</p>
</details>

Debug the following code snippets:

In [ ]:
print('Mismatch")

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
print('Mismatch')
    
# Or
    
print("Mismatch")
```
    
</p>
</details>

In [ ]:
print(My name is Marton.)

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
print("My name is Marton.")
    
```
    
</p>
</details>

In [ ]:
print('One.')print('Two.')

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
print('One.')
print('Two.')

# Or

print('One.', 'Two.')
    
```
    
</p>
</details>

#### üî¥ Variable names

Your friend is aweful at naming variables. Correct their code!

In [ ]:
banana = "apples"
UnitPrice = 1.2
this_is_how_many_is_being_purchased = 12
print(f"{this_is_how_many_is_being_purchased} {banana} costs {UnitPrice*this_is_how_many_is_being_purchased:.2f} euros.")

<details><summary><u>Solution.</u></summary>
<p>
    
```python
product = "apples"
unit_price = 1.2 # in python, we use snake_case
count = 12
print(f"{count} {poduct} costs {count*unit_price:.2f} euros.")
```
    
</p>
</details>

#### üî¥ Conversion

Ask the user for their year of birth and print out a message providing the number of years they were born after the death of Montezuma (1520).

<details><summary><u>Solution.</u></summary>
<p>
    
```python
birth_year = int(input("Enter your year of birth "))
print(f"You were born {birth_year-1520} after the death of Montezuma.")
```
    
</p>
</details>

## Class 02 -- `if-elif-else`

#### üî¥ If-else

Ask the user for an integer, print out `"Divisible by 3."`, if the number is divisable by three, print out `"Not divisible by 3.`", if the number is not divisible by three.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
num = int(input("Enter an integer "))
if num%3==0:
    print("Divisible by 3.")
else:
    print("Not divisible by 3.")
```
    
</p>
</details>

#### üî¥ If-elif-else

Ask the user for their year of birth, print out whether the user was born the same year, before or after [Marina Abramoviƒá](https://en.wikipedia.org/wiki/Marina_Abramovi%C4%87) was born.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
birth_year = int(input("Enter your year of birth: "))
ma_birth_year = 1946
if birth_year<ma_birth_year:
    print("You were born before the year Marina Abramoviƒá was born.")
elif birth_year>ma_birth_year:
    print("You were born after the year Marina Abramoviƒá was born.")
else:
    print("You were born before the same year as Marina Abramoviƒá.")
```
    
</p>
</details>

#### üî¥ Nested

* Ask the user if they are taking Python for everyone. 
* If yes:
    * Ask how many hours do they study a week?
    * If more than 5, print "Good."
    * Otherwise, print "You should study more."
* If no:
    * Print "Your loss."

<details><summary><u>Solution.</u></summary>
<p>
    
```python
pfe = input("Are you taking Python for everyone? ")
if pfe=="yes":
    hours = int(input("How many hours do you study a week? "))
    if hours>5:
        print("Good.")
    else:
        print("You should study more.")
else:
    print("Your loss.")
```
    
</p>
</details>

## Class 03 -- Functions

#### üî¥ Compare elements of a list

Write a function that takes a list of numbers as an argument and returns `True` if the last element of the list is greater than the first, otherwise it returns `False`.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
def last_gt_first(L):
    compare =  L[-1]>L[0]
    return compare
    
# or

def last_gt_first(L):
    return L[-1]>L[0]

    
L = [1, 2, 34, 42]
    
last_gt_first(L)
```
    
</p>
</details>

#### üî¥ Area of circle

Write a function that takes a radius `r` as an input parameter and returns the area of the circle with that radius.

Import the `math` module  which contains useful mathematical functions and constants. Get the value of $\pi$ the module.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
import math

def area_of_circle(r):
    return math.pi*r*r

area_of_circle(3.)

```
    
</p>
</details>

#### üî¥ Area of circle -- checking radius

Extend the previous function so that it checks whether the radius `r` is positive:
* If `r` is positive: return the area of the circle
* If `r` is not positive print out a warning message and return 0

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
def area_of_circle(r):
    if r<=0:
        print("Radius should be positive.")
        return 0.
    else:
        return math.pi*r*r

area_of_circle(-3.)
            
```
    
</p>
</details>

#### üî¥ Advanced: digits of pi

Get the value of $\pi$ the `math` module. Write a function that takes a positive integer `n` as an argument and prints out the `n`th digit of $\pi$ after the decimal point.


Example:<br>
$\pi= 3.141592653589793\ldots$

So the 1st digit after the decimal point is 1, the 2nd is 4, etc.


Note that your computer only stores $\pi$ up to a certain precision (in this case 16 digits), so above that you will get inaccurate answers.

<details><summary><u>Hint.</u></summary>
<p>

One possible solution is to convert `math.pi` into a string than you can access the individual digits by accessing the characters of the string.    
</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
import math

def pi_digits(n):
    pi_str = str(math.pi)
    print(pi_str[n+1])
    
    return


pi_digits(1)
pi_digits(2)
```
    
</p>
</details>

## Class 04 -- Strings

#### üî¥ Elements and slices

Take the following string and print out:
* The first character
* The second to last character
* The middle character (Hint: you can use `len()` and the integer divisiion `//`)
* The year at the end of the string

In [ ]:
date = 'Nov. 26, 2025'

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
print(date[0])
print(date[-2])
print(date[len(date)//2])
print(date[-4:])
    
```
    
</p>
</details>

#### üî¥ String methods -- count

Count all the letter a's in the following string (both upper and lower case).

<details><summary><u>Hint.</u></summary>
<p>

Count the 'A's and 'a's separately using the `count` method and add the counts together.

</p>
</details>

In [ ]:
s = '''Now is the winter of our discontent
Made glorious summer by this son of York;
And all the clouds that lour‚Äôd upon our house
In the deep bosom of the ocean buried.'''

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
s.count('A')+s.count('a')
    
```
    
</p>
</details>

#### üî¥ String methods -- replace and chaining

Write a function that takes a string as input and returns a copy of the string with the punctuation marks (,;.!?) removed.

<details><summary><u>Hint.</u></summary>
<p>

* Remove each punctuation mark separately using the `replace` method. For example, `s.replace(".","")`
* You can chain the replace methods: `s.replace(".", "").replace(",", "")`
</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
def remove_punctuation(s):
    new_s = s.replace(',','').replace(';','').replace('.','').replace('!','').replace('?','')
    
    return new_s

remove_punctuation('Hello! Hello?')
    
```
    
</p>
</details>

#### üî¥ String methods -- yell

Write a function that takes a string as input and converts it into yelling by:
* Capitalizing all letters (Technically you could do this with `replace`, but use google to find a better method.)
* Replace periods '.' with exclamation marks '!'
* Replace questions marks '?' with '!?'

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
def yellify(s):
    new_s = s.upper().replace('.','!').replace('?','!?')
    
    return new_s

yellify('Hello! Hello?')
    
```
    
</p>
</details>

#### üî¥ f-string

You got 88 points out of 92 on a test. Use f-strings to print out the percentage of points that you got up to 3 decimal precision.

<details><summary><u>Hint.</u></summary>
<p>

Percentage is given by 100*88/92.
    
</p>
</details>

In [ ]:
your_score = 88
max_score = 92

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
percent = 100 * 88/92
print(f"I got {percent:.3f}% of the points on the big python test.")
    
```
    
</p>
</details>

## Class 05 -- Lists

#### üî¥ List -- accessing elements

From the following list

In [ ]:
L = [1, ['topnotch', 3.14], -8, 4]

Write code that accesses the value `-8`

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
L[2]

# or
    
L[-2]
```
    
</p>
</details>

Write code that accesses the value `4`

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
L[-1]

```
    
</p>
</details>

Write code that accesses the value `3.14`

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
L[1][1]
    
```
    
</p>
</details>

Write code that accesses the value `p`

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
L[1][0][2]
```
    
</p>
</details>

#### üî¥ Methods

Starting from the list below.

Add two additional animal to the end of the list.

In [ ]:
animals = ['lion', 'grasshopper', 'platypus']

<details><summary><u>Solution.</u></summary>
<p>
    
```python
animals.append('cat')
animals.append('earthworm')
animals
```
    
</p>
</details>

Write code that adds `'cat'` to the list, if it hasn't been added yet.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
if "cat" not in "animals":
    animals.append('cat')
animals
```
    
</p>
</details>

Remove (the first occurance of) `"grasshopper"` from the list.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
animals.remove("grasshopper")
animals
```
    
</p>
</details>

Print out the number of elements in the list.

<details><summary><u>Solution.</u></summary>
<p>
    
```python    
print(len(animals))
```
    
</p>
</details>

#### üî¥ List -- Sorting

Create a new list that contains the words below, but in alphabetical order.

In [ ]:
words = [
    "banana",
    "savanna",
    "cabana",
    "hannah",
    "montana",
    "bandana"
]

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
sorted_words = sorted(words)
sorted_words
```
    
</p>
</details>

Now do the same thing in-place, i.e., modify the `words` list without creating a new list.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
words.sort()
words
```
    
</p>
</details>

## Class 06 -- Loops

#### üî¥ Counting

Write code that prints out the integers starting from 30 to 42 (42 included). In the end, print out `"Done."`.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
for i in range(30,42):
    print(i)
print("Done.")
    
```
    
</p>
</details>

#### üî¥ Iterating over a list

Iterate over the following list of years using a `for` loop. Using an `if` statement print out the years from the 20th century.

<details><summary><u>Hint.</u></summary>
<p>

Compound statements can be created using `and`:
    
```python
if year<2000 and year>1899:
    ...
```
    
</p>
</details>

In [ ]:
years = [1222, 1526, 1914, 2020, 1956, 1541]

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
for year in years:
    if year<2000 and year>1899:
        print(year)

```
    
</p>
</details>

#### üî¥ List of strings

Iterate over the following list of names and collect the first names in a new list called `first_names`.

<details><summary><u>Hint.</u></summary>
<p>

Use the string methods `.split()`

In [ ]:
names = [
    "Pablo Picasso",
    "Frida Kahlo",
    "Georgia O‚ÄôKeeffe",
    "Mark Rothko"
]

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
first_names = []
for name in names:
    split = name.split()
    first_names.append(split[0])
    
print(first_names)

```
    
</p>
</details>

#### üî¥ The Price is Right

[The Price is Right](https://en.wikipedia.org/wiki/The_Price_Is_Right) is an old game show from the US. Contestants have to guess the retail price of a product and the best guess without going over the real price wins.

Write code that finds the winning bid. If everyone goes over, write `"No winner."`

In [ ]:
real_price = 88
bids = [75, 45, 100, 42]

<details><summary><u>Solution.</u></summary>
<p>
    
```python

best_bid = -1
for b in bids:
    if b>best_bid and b<=real_price:
        best_bid = b

if best_bid>-1:
    print(f"The winning bid is {best_bid}")
else:
    print("No winner.")
    
```
    
</p>
</details>

#### üî¥ is

Which of the following words contains the most i-s?

In [ ]:
words = [
    "crisis",
    "skiing",
    "bikini",
    "strict",
    "psst",
    "grill"
]

<details><summary><u>Solution.</u></summary>
<p>
    
```python

max_num_is = -1
for w in words:
    num_is = w.count("i")
    if num_is>max_num_is:
        max_num_is = num_is
        max_word = w
        
print(max_word)
    
```
    
</p>
</details>

#### üî¥ `while`

Ask the user for an even number. If the number is not even, print out the message `"Even, please."` and ask for a new number. Repeat this until the user enters an even number.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
num= int(input("Enter an even number: "))
while num%2!=0:
    num= int(input("Even, please.\nEnter a new number: "))
    
# or
while True:
    num= int(input("Enter an even number: "))
    if num%2==0:
        break
    else:
        print("Even, please.")   
```
    
</p>
</details>

#### üî¥ Max random

Write a function `max_rand` that takes an integer `n` as an argument, generates `n` random floats between 0 and 1 using the `random` module, and returns the maximum number generated.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
import random


def max_rand(n):
    rand_nums = []
    for i in range(n):
        rand_nums.append(random.random())
    
    m = 0
    for r in rand_nums:
        if r>m:
            m=r          
    return m

print(max_rand(100))

# or

def max_rand(n):
    m = 0.
    for i in range(n):
        r = random.random()
        if r>m:
            m=r
    return m

print(max_rand(1000))

# or


def max_rand(n):
    rand_nums = []
    for i in range(n):
        rand_nums.append(random.random())
            
    return max(rand_nums)

print(max_rand(100))

    
```
    
</p>
</details>

#### üî¥ Max random

Use the `max_rand` function from the previous exercise. Create a list that contains the results of `max_rand(n)` for each `n` in the list `ns`.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
ns = [1, 10, 100, 1000, 10000]

maxs = []
for n in ns:
    maxs.append( max_rand(n) )
maxs
```
    
</p>
</details>

## Class 07 -- Dictionaries

#### üî¥ Accessing and adding elements

In the next cell, we create nested dictionaries providing data about cities:
* The keys of the dictionary `city_data` are city names and the associated values are dictionaries.
* The inside dictionaries have keys `'population'` and `'area'` and the associated values are numbers.

As a first task, add whitespaces to the code below (spaces and line breaks) to make the code more readable.

In [ ]:
city_data = {
    'Vienna':{'area':414.78,'population':2002821},
    'Budapest':{'area':525.2,'population':1706851},
    'Szada':{'area':16.72,'population':6348}}

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
# For example
city_data = {
    'Vienna':   {'area':414.78, 'population':2002821},
    'Budapest': {'area':525.2,  'population':1706851},
    'Szada':    {'area':16.72,  'population':6348}
}

```
    
</p>
</details>

Write code that accesses the population of Vienna.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
city_data['Vienna']['population']

```
    
</p>
</details>

Write code that calculates the population density of Budapest.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
city_data['Budapest']['population']/city_data['Budapest']['area']
```
    
</p>
</details>

Using an `if` statement print out the message "Szada is a small town." if it's population is less than 10000.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
if city_data['Szada']['population']<10000:
    print('Szada is a small town.')
```
    
</p>
</details>

Add a new city of your choice to the dictionary.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
city_data['Szeged'] = {'area': 281, 'population': 158829}

# or

city_data['Szeged'] = {}
city_data['Szeged']['area'] = 281
city_data['Szeged']['population'] = 158829

```
    
</p>
</details>

Szada is quickly growing, double its population!

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
city_data['Szada']['population'] = 2*city_data['Szada']['population']
city_data['Szada']['population']

```
    
</p>
</details>

#### üî¥ Iterating over a dictionary

Iterate over and print out the keys of the following dictionary.

In [ ]:
grades = {'History': 'A', 'Physics': 'A', 'Literature': 'C', 'Latin': 'F'}

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
for subject in grades.keys():
    print(subject)
    
# or

for subject in grades:
    print(subject)

```
    
</p>
</details>

Print out the subjects that this student is failing at.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
for subject in grades:
    if grades[subject]=='F':
        print(subject)
        
# or

for subject, grade in grades.items():
    if grade=='F':
        print(subject)

```
    
</p>
</details>

Count the number of As this student has using the `grades.values()` iterator.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
count = 0
for grade in grades.values():
    if grade == 'A':
        count = count + 1
print(count)

# or

count = 0
for subject in grades:
    if grades[subject] == 'A':
        count = count + 1
print(f"This student has {count} As in their report card.")


```
    
</p>
</details>

#### üî¥ Structured data

The following list of dictionaries provides information about aquarium fish.

Answer the questions below.

In [ ]:
aquarium_fish =[{
  "name": "Betta Fish",
  "scientific_name": "Betta splendens",
  "size_cm": 6,
  "temperature_range_celsius": [24, 28],
  "ph_range": [6.5, 7.5],
  "behavior": "Territorial; males should be kept alone"
},
{
  "name": "Neon Tetra",
  "scientific_name": "Paracheirodon innesi",
  "size_cm": 4,
  "temperature_range_celsius": [20, 26],
  "ph_range": [6.0, 7.0],
  "behavior": "Peaceful schooling fish; keep in groups"
},
{
  "name": "Guppy",
  "scientific_name": "Poecilia reticulata",
  "size_cm": 5,
  "temperature_range_celsius": [22, 28],
  "ph_range": [6.8, 7.8],
  "behavior": "Hardy and active; easy to breed"
},
{
  "name": "Angelfish",
  "scientific_name": "Pterophyllum scalare",
  "size_cm": 15,
  "temperature_range_celsius": [24, 29],
  "ph_range": [6.5, 7.5],
  "behavior": "Semi-aggressive; prefers tall tanks"
}]

Which fish are below 5.5 cms?

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
for fish in aquarium_fish:
    if fish['size_cm']<5.5:
        print(fish['name'])

```
    
</p>
</details>

Which fish has the word "easy" in the description of its behavior?

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
for fish in aquarium_fish:
    if "easy" in fish['behavior']:
        print(fish['name'])

```
    
</p>
</details>

Which fish can tolerate the coldest temperature?

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
min_temp = 2000
for fish in aquarium_fish:
    if min_temp> fish['temperature_range_celsius'][0]:
        min_temp=fish['temperature_range_celsius'][0]
        min_fish = fish['name']
print(min_fish)

```
    
</p>
</details>

## Class 08 -- Tuples

#### üî¥ Zipping through some lists


Create a dictionary from the two lists below. Use `zip`.

In [ ]:
#keys
famous_trees = [
    "Methuselah",
    "Old Tjikko",
    "General Sherman",
    "Sarv-e Abarkuh",
    "TƒÅne Mahuta"
]

# values
estimated_ages = [
    4856,    # Methuselah ‚Äî Great Basin bristlecone pine
    9550,    # Old Tjikko ‚Äî Norway spruce (clonal)
    2200,    # General Sherman ‚Äî giant sequoia
    4000,    # Sarv-e Abarkuh ‚Äî Persian cypress
    1500    # TƒÅne Mahuta ‚Äî kauri tree
]

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
tree_ages = {}
for key,val in zip(famous_trees,estimated_ages):
    tree_ages[key]=val
tree_ages
```
    
</p>
</details>

#### üî¥ Returning tuples

Write a function that takes a string as an argument. The string is assumed to represent a date in the following form:
```python
"1998-07-17"
"1994-07-12"
"2022-12-18"
```
The function should return three integers providing the year, month and day separately.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
def date_parser(date_str):
    year  = int(date_str[:4])
    month = int(date_str[5:7])
    day =   int(date_str[-2:])
    
    return year, month, day

date_parser("2022-12-18")

```
    
</p>
</details>

## Class 09 -- Files

#### üî¥ Write

Take the following dictionary and save its contents in a csv file:
* Add the header "name,red,green,blue"
* Then each row should represent one of the colors

In [ ]:
color_hues = {
    "black": (0, 0, 0),
    "white": (255, 255, 255),
    "red": (255, 0, 0),
    "orange": (255, 165, 0),
    "yellow": (255, 255, 0),
    "aquamarine": (127, 255, 212),
    "cerulean": (42, 82, 190),
    "chartreuse": (127, 255, 0),
    "coral": (255, 127, 80),
    "lavender": (230, 230, 250),
    "indigo": (75, 0, 130),
    "crimson": (220, 20, 60),
    "turquoise": (64, 224, 208),
    "sienna": (160, 82, 45),
    "periwinkle": (204, 204, 255),
    "salmon": (250, 128, 114),
    "teal": (0, 128, 128)
}

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
with open("hues.csv","w") as f:
    f.write("name,red,green,blue\n")
    for name, rgb in color_hues.items():
        f.write(f"{name},{rgb[0]},{rgb[1]},{rgb[2]}\n")

```
    
</p>
</details>

#### üî¥ Read

Read the file that you have just created and print out the colors, whose name starts with the letter "c".

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
with open("hues.csv") as f:
    f.readline()#skip header
    for line in f:
        if line[0]=='c':
            print(line.split(',')[0])

```
    
</p>
</details>