# Python for everyone -- 12 Pandas
## Exercises

#### ðŸ”´ Series apply

You can create pandas series from a dictionary `D` by simply using `S=pd.Series(D)`, the indices of the series will be the keys of the dictionary.

Convert the following dictionary to a series, then convert the extinction years to an integer such that BC years are negative.

<details><summary><u>Hint</u></summary>
<p>

Define a function that takes a string containing the extinction year as input and converts it to an integer. Then apply this function to the series using the `apply()` method.
    
</p>
</details>

In [ ]:
D = {'Cave bear': '27,000 BC', 'Tyrannosaurus rex': '68,000,000 BC',
     'Passenger pidgeon': '1914', 'Dodo': '1681', 'Small pox': '1980',
     'Pinta giant tortoise': '2012','Maui nukupuÊ»u':'1994', 'Alagoas foliage-gleaner':'2011'}

<details><summary><u>Solution.</u></summary>
<p>
    
```python
S = pd.Series(D)

def convert_year(s):
    year = int(s.replace(',','').replace('BC',''))
    if 'BC' in s:
        year = -year
    return year

S=S.apply(convert_year)
```
    
</p>
</details>

#### ðŸ”´ Series

Using the series from the previous exercise, create three series:
* one that only contains animals that went extinct during your lifetime
* one that contains the first three elements of the series
* one that is indexed by the extinction year and the values are the species names

<details><summary><u>Hint</u></summary>
<p>

* Define a `mask` that compares the extinction to your birth year and use `S[mask]`.
* Use slicing as we did for lists and numpy arrays
* You can access the indices of a series using `S.index` and the values of a series using `S.values`. Create a new series as we did in the second example at the beginning of the class notebook, just swap the indices and values.
    
</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
S1 = S[S>=1985]
print(S1)

S2 = S[:3]
print(S2)

S3 = pd.Series(S.index,index=S.values)
print(S3)
```
    
</p>
</details>

#### ðŸ”´  Dataframe

This exercise has many parts:
* Create a dataframe from the three dictionaries provided below and rename the columns to reflect their contents.

<details><summary><u>Hint</u></summary>
<p>

You can create the dataframe as we did in the actor rating example in the class notebook. Or you can search online for creating a dataframe from a list of dictionaries.
    
</p>
</details>

In [ ]:
mass = {
    'MERCURY':0.330,'VENUS':4.87,'EARTH':5.97,'MARS':0.642,
    'JUPITER':1898,'SATURN':568,'URANUS':86.8,'NEPTUNE':102,'PLUTO':0.0146} #measured in 10**24 kgs
diameter = {
    'MERCURY':4879,'VENUS':12104,'EARTH':12756,'MARS':6792,
    'JUPITER':142984,'SATURN':120536,'URANUS':51118,'NEPTUNE':49528,'PLUTO':2370} #measured in kms
num_moons= {
    'MERCURY':0,'VENUS':0,'EARTH':1,'MARS':2,
    'JUPITER':79,'SATURN':82,'URANUS':27,'NEPTUNE':14,'PLUTO':5}

<details><summary><u>Solution.</u></summary>
<p>
    
```python
df_planets = pd.DataFrame([mass,diameter,num_moons]).T
df_planets.columns=['mass','diameter','num_moons']
df_planets
```
    
</p>
</details>

* Create a new column called `'confirmed_life'` which is `True` if you know for a fact that the corresponding planet contains life, and `False` otherwise.

<details><summary><u>Hint</u></summary>
<p>

There are many ways to do this, for example, using `apply()` and a lambda function; or first create the new column with all `False` values and then only change the value of Earth.
</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
df_planets['confirmed_life']=False
df_planets.loc['EARTH','confirmed_life']=True
df_planets
```
    
</p>
</details>

* Create a new column that contains the density of the planets measured in $kg/m^3$.

<details><summary><u>Hint</u></summary>
<p>

* Simple operations such as division and powers get applied to columns elementwise.
* Density is volume/mass
* The volume of a sphere is `pi * diameter**3/6`.
* You need to multiply the mass by $10^{24}$ to convert it to kgs. You can write $10^24$ as `1e24` in python.

    
</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
df_planets['density']=df_planets['mass']*1e24/(np.pi/6*(1000*df_planets['diameter'])**3)
df_planets
```
    
</p>
</details>

* Pluto is no longer a planet, drop it from the dataframe (check out the documentation of `df.drop()` method).

<details><summary><u>Solution.</u></summary>
<p>
    
```python
df_planets = df_planets.drop('PLUTO')
```
    
</p>
</details>

* Create a new dataframe that only contains the `'mass'` and `'num_moons'` column, and only contains the planets that are lighter than Earth.

<details><summary><u>Hint</u></summary>
<p>

You can select a subset of the columns using `df[list_of_columns]`.
</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
new_df_planets = df_planets[['mass','num_moons']][df_planets['mass']<df_planets['mass']['EARTH']]
new_df_planets
```
    
</p>
</details>