# Python for everyone -- 08 Tuples

## Exercises

#### ðŸ”´ Points

The following list contains the (x,y) coordinates of points.

In [ ]:
pts = [(1.0, 0.4), (-0.5, 1.25), (3.,.2), (12.1,-1.0), (1.,2.)]

Print out the y coordinate of the third point in the list.

In [ ]:
print(pts[2][1])

<details><summary><u>Solution.</u></summary>
<p>

```python
print(pts[2][1])
```
</p>
</details>

Increase the x coordinate of the first point by 1.

<details><summary><u>Hint.</u></summary>

Tuples are immutable, so you can't change just the first coordinate. Instead you need to replace the entire tuple.    
</details>

<details><summary><u>Solution.</u></summary>
<p>

```python
pts[0] = (pts[0][0]+1, pts[0][1])
pts
```
</p>
</details>

What is the x coordinate of the left-most point? (The smallest x coordinate.)

<details><summary><u>Solution.</u></summary>
<p>

```python
min_x = 10000
for pt in pts:
    if pt[0]<min_x:
        min_x = pt[0]
print(min_x)
```
</p>
</details>

#### ðŸ”´ Sorting tuples

Python allows you to sort a list of tuples:

In [ ]:
L = [(1,2), (3,4), (3,2), (12,-1), (1,8)]

sorted_L = sorted(L)

sorted_L

Can you guess how the tuples are ordered in the sorted list?

<details><summary><u>Solution.</u></summary>
<p>
When you compare two tuples, it first compares the first entry. If the first entry is equal, it compares the second, and so on. You can test this with modifying the following code:
```python
print((1,2)<(3,8))
print((1,1,2)<(1,1,8))
```
So the tuples are sored based on the first number, and ties are resolved using the second.
</p>
</details>

#### ðŸ”´ Structured data

The following two dictionaries provide two different ways to structure the same data: flight duration between pairs of cities. Both representations has its advantages and disadvantages.

In [ ]:
flights_flat = {
    ("New York", "London"): 7.0,
    ("London", "New York"): 7.5,
    ("London", "Paris"): 1.2,
    ("Paris", "London"): 1.3,
    ("Paris", "Rome"): 2.0,
    ("Rome", "Paris"): 2.1,
    ("New York", "Tokyo"): 14.0,
    ("Tokyo", "New York"): 13.5,
    ("Tokyo", "Sydney"): 9.5,
    ("Sydney", "Tokyo"): 9.0,
    ("London", "Rome"): 2.5,
    ("Rome", "London"): 2.4
}

flights_nested = {
    "New York": { "London": 7.0, "Tokyo": 14.0},
    "London":   { "New York": 7.5,"Paris": 1.2, "Rome": 2.5},
    "Paris":    { "London": 1.3, "Rome": 2.0},
    "Rome":     { "Paris": 2.1, "London": 2.4},
    "Tokyo":    {"New York": 13.5,"Sydney": 9.5},
    "Sydney":   {"Tokyo": 9.0}
}

How much faster it is to fligh from New York to London than from London to New York? Write code using both the nested and the flat representation.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
print(flights_flat[("London", "New York")]-flights_flat[("New York", "London")])
print(flights_nested["London"]["New York"]-flights_nested["New York"]["London"])
```
    
</p>
</details>

#### ðŸ”´ Fix the code

Fix the code below.

Creating a tuple.

In [ ]:
# define a dictionary containing the price of fruits
my_tuple = (12, 3, 9

<details><summary><u>Solution.</u></summary>
<p>
    
```python
my_tuple = (12, 3, 9) # close ()

# or

my_tuple = 12, 3, 9 # or no () at all
```
    
</p>
</details>

Unpacking a tuple.

In [ ]:
t = ("apple", 0.95, "euros")
fruit, price = t

<details><summary><u>Solution.</u></summary>
<p>
    
```python
    
t = ("apple", 0.95, "euros")
fruit, price, currency = t # the number of variables has to match the size of the tuple

```
    
</p>
</details>

Tuples provided by `zip`.

In [ ]:
birds = ["golden-crowned sparrow", "red-winged blackbird", "whippoorwill", "american gray flycatcher"]
clutch_sizes = [3, 4, 2, 3]

for species num_eggs in zip(birds, clutch_sizes):
    print(f"The {species} typically lays {num_eggs} eggs.")

<details><summary><u>Solution.</u></summary>
<p>
    
```python
birds = ["golden-crowned sparrow", "red-winged blackbird", "whippoorwill", "american gray flycatcher"]
clutch_sizes = [3, 4, 2, 3]

for species, num_eggs in zip(birds, clutch_sizes): # add a comma "," between the variables when unpacking a tuple
    print(f"The {species} typically lays {num_eggs} eggs.")
```
    
</p>
</details>

#### ðŸ”´ `zip`

Create a dictionary out of the two lists below using a `for` loop and `zip`.

<details><summary><u>Solution.</u></summary>
<p>

```python
print(pts[2][1])
```
</p>
</details>

## Homework

ðŸ”´

In [ ]:
ball_sports = {
    "soccer": {
        "players_per_team": 11,
        "game_length_minutes": 90,
        "score_name": "goal"
    },
    "basketball": {
        "players_per_team": 5,
        "game_length_minutes": 48,
        "score_name": "basket"
    },
    "baseball": {
        "players_per_team": 9,
        "game_length_minutes": 180,
        "score_name": "run"
    },
    "volleyball": {
        "players_per_team": 6,
        "game_length_minutes": 90,
        "score_name": "point"
    },
    "rugby": {
        "players_per_team": 15,
        "game_length_minutes": 80,
        "score_name": "try"
    }
}